<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Add List</title>
        <a href = "{% url 'View List' %}"><h6><p style="color:red">Go to View List</p></h6></a><br>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="container mt-5">
            <h1>Add Grocery List</h1>
            <form action="/test1/" method="POST">
               {% csrf_token %}
                <div class="form-group">
                    <label>Item name</label>
                    <input for="item" type="text" class="form-control" id="item" name="item" placeholder="Item name"/>
                </div>
                <div class="form-group">
                    <label>Item quantity</label>
                    <input for="quantity" type="text" class="form-control" id="quantity" name="quantity" placeholder="Item quantity"/>
                </div>
                <div class="form-group">
                    <label>Item status</label>
                    <select class="form-control" for="status" id="status" name="status">
                        <option value="PENDING">PENDING</option>
                        <option value="BOUGHT">BOUGHT</option>
                        <option value="NOT AVAILABLE">NOT AVAILABLE</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Date</label>
                    <input for="date" type="date" class="form-control" id="date" name="date" placeholder="Date">
                </div>
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-danger">
                </div>
            </form>
        </div>
    </body> 
</html>
